<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Empecemos
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Empecemos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h1>Calculo de calorias</h1>
   
    <p>Para calcular las calorias quemadas con cada actividad, necesitamos que nos indiques tu altura y peso:</p>
   
    <div class="pesoAltura">    
      <ion-input label="Altura"
      label-placement="floating"
      fill="outline"
      placeholder="Altura"></ion-input>


    <div class="separador"></div>
      <ion-input label="Peso"
      label-placement="floating"
      fill= "outline"
      placeholder="Peso"></ion-input>
    </div>
   
    <div class="buttonContinuar"><ion-button>CONTINUAR</ion-button> </div>

  </ion-content>

  <!-- como era poner ubicacion, ubicar abajo al final -->
  
</ion-content>
