<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Objetivo
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
   
  </ion-header>
<ion-title> Crea tu objetivo</ion-title>


<h3>Tipo de Actividad</h3>
<div class="Botones">
<ion-button>Runing</ion-button><ion-button>Caminata</ion-button> <br>
<ion-button>Senderismo</ion-button><ion-button>Ciclismo</ion-button>
</div>


<h3>Periodo</h3>
<div class="Botones">
<ion-button>Diario</ion-button><ion-button>Semanal</ion-button> <br>
<ion-button>Mensual</ion-button><ion-button>Anual</ion-button>
</div>


<h3>Fijar Objetivo</h3>
<div class="Botones">
<ion-button>Distancia</ion-button><ion-button>Tiempo</ion-button> <br>
<ion-button>Repeticiones</ion-button><ion-button>Calorias</ion-button>
</div>


<div class="buttonContinuar"><ion-button>CONTINUAR</ion-button> </div>




</ion-content>
