.buttonIngresar{
    margin-top: 10%;
    margin-left: 35%;
}




.overscroll .scroll-y .inner-scroll {
    background-color: aquamarine;
}


.cajaLogin{
   
    margin-top: 60%;
    margin-left: 10%;
    margin-right: 10%;
}


.separador{
    padding-top: 50px;
}


.buttonGoogle{
    margin-top: 25%;
    margin-left: 22%;
}

.olvide{
    margin-left: 30%;
    margin-right: 15%;
    margin-top: 10%;
}

.crear{
    margin-top: 5%;
    margin-left: 37%;
    margin-right: 15%;
}