<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ingresar
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
   <div class="cajaLogin">    
  <ion-input label="Usuario"
  label-placement="floating"
  fill="outline"
  placeholder="Email"></ion-input>
<div class="separador"></div>
  <ion-input label="Contraseña"
  label-placement="floating"
  fill= "outline"
  placeholder="Contraseña"></ion-input>
</div> <!-- */ como se ocultan los caracteres -->


<div class="buttonGoogle"><ion-button>continua con Google</ion-button> </div>


  <div class="buttonIngresar"><ion-button>INGRESAR</ion-button> </div>


<!-- como cambiar el color de todo el fondo, con *background no pinta todo-->
 
<div class="olvide">Olvide mi Contraseña</div>
<div class="crear">Crear cuenta</div>
 
</ion-content>
