<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Permisos
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
   
  </ion-header>


  <ion-content class="ion-padding">
    <h1>Permisos</h1>
   
    <p>Queremos ofrecerte la mejor experiencia.</p>
    <div class="lista"></div>
   
    <div class="lista">
      <ion-list>
        <ion-item>
          <ion-toggle>Ubicaion GPS</ion-toggle>
         
        </ion-item>
        <p>Para registrar tu ruta con mayor exactitud.</p>
        <ion-item>
          <ion-toggle>Notificaciones</ion-toggle>
         
        </ion-item>
        <p>Para obtener informacion y motivacion.</p>
     
      </ion-list>
    </div>
 
  <div class="buttonContinuar"><ion-button>CONTINUAR</ion-button> </div>


  </ion-content>




</ion-content>