<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-content [fullscreen]="true">
  <div>
    <ion-title class="title">Bienvenid@</ion-title>
    <p class="subTitle">Entra a tu cuenta</p>
  </div>

  <form [formGroup]="loginForm">
    <div class="ion-padding">

      <ion-item>
        <ion-input formControlName="email" placeholder="email" style="color: #818181;" class="input"></ion-input>
        <ion-icon name="person-outline" style="color: #818181;"></ion-icon>
      </ion-item>

      <!-- <ion-item> -->
      <div *ngIf="this.loginForm.controls?.['email'].touched && this.loginForm.controls?.['email'].invalid">
        
        <ion-text *ngIf="errorControl.email.errors?.required" class="errorInput" color="danger">
          Email es requerido.</ion-text>

        <ion-text *ngIf="errorControl.email.errors?.pattern" class="errorInput" color="danger">
          Ingrese email valido.</ion-text>

        <ion-text *ngIf="errorControl.fullname.errors?.required" class="errorInput" color="danger">
          Nombre es requerido.</ion-text>

        <!-- <div *ngIf="this.loginForm.controls?.['email'].touched && this.loginForm.controls?['email'].invalid"></div>
        <ion-text *ngIf="errorControl.email.errors?.required">
          Email es requerido.
        </ion-text>

        <ion-text *ngIf="errorControl.email.errors?.pattern">
          Email tiene que ser valido.
        </ion-text> -->

      </div>
    <!-- </ion-item> -->

      <ion-item>
        <ion-input formControlName="password" placeholder="contraseña" style="color: #818181;"
          class="input"></ion-input>
        <ion-icon name="lock-closed-outline" style="color: #818181;"></ion-icon>
      </ion-item>
      <div>
        <!-- <div *ngIf="this.loginForm.controls?.['password'].touched && this.loginForm.controls?['password'].invalid">
          <ion-text *ngIf="errorControl.password.errors?.required">
            Contraseña es requerido.
          </ion-text>
          <ion-text *ngIf="errorControl.password.errors?.pattern">
            Contraseña tiene que tener 8 caracteres incluyendo una mayuscula y un numero.
          </ion-text>
        </div> -->
        <div class="forgotPassword">
          <a [routerLink]="['/password-reset']" style="color:#FFC33F">Olvide mi contraseña</a>
        </div>
        <div class="signupLink">
          <p>No tenes cuenta?<a style="color:#FFC33F" [routerLink]="['/sign-up']">Crear cuenta</a></p>
        </div>
      </div>
      <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
        <ion-fab-button (click)="login()">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </form>

</ion-content>